name: Greenter Docs

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -IU -r requirements.txt
    - name: Deploy Mkdocs
      run: |
        chmod +x ./ci/deploy.sh
        ./ci/deploy.sh
      env:
        GH_TOKEN: ${{ secrets.ghToken }} 

